<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="QSi - Quality Safety International"/>
	<meta name="keywords" content="QS, Quality Safety International, QSi New Zeland, Quality Safety International New Zeland"/>
	<meta name="author" content="Mitchell Anderson"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Quality Safety International New Zeland" />
	<meta property="og:description" content="Quality Safety International New Zeland, We manufacture and assemble a number of products here in our local Whanganui factory, giving us direct control over quality and the ability to quickly and easily scale our output to meet demand with minimal lead time." />
	<meta property="og:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta property="og:url" content="http://mywooftest.online" />
	<meta property="og:site_name" content="mywooftest" />
	<meta property="article:published_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="article:modified_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="og:updated_time" content="2024-06-27T12:52:59+00:00" />
	<!-- <meta property="fb:app_id" content="" /> -->
	<meta name="twitter:card" content="Preview" />
	<!-- <meta name="twitter:site" content="" /> -->
	<meta name="twitter:title" content="Quality Safety International New Zeland" />
	<meta name="twitter:description" content="Quality Safety International New Zeland, We manufacture and assemble a number of products here in our local Whanganui factory, giving us direct control over quality and the ability to quickly and easily scale our output to meet demand with minimal lead time." />
	<meta name="twitter:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

	<link rel="shortcut icon" type="image/png" href="http://mywooftest.online/images/favicon.png" />
	<link rel="image_src" href="http://mywooftest.online/images/fbprew.jpg"/>
	<link rel="stylesheet" href="css/default.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<title>Quality Safety International</title>
</head>
<body>


  {% include '1header.njk' %}

    {{ 1content | safe }}

  <!-- {% include 'content.njk' %} -->
  {% include '1footer.njk' %}
  <!-- GLOBAL JAVASCRI -->
<script src="../../js/main.js"></script>
</body>
</html>
