
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="QSi - Quality Safety International"/>
	<meta name="keywords" content="QSi Products, Quality Safety International Products, Safety Products New Zeland, Safety Products Whanganui"/>
	<meta name="author" content="Amtech"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Quality Safety International Safety Products Whanganui" />
	<meta property="og:description" content="QSi - Quality Safety International" />
	<meta property="og:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta property="og:url" content="http://mywooftest.online" />
	<meta property="og:site_name" content="mywooftest" />
	<meta property="article:published_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="article:modified_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="og:updated_time" content="2024-06-27T12:52:59+00:00" />
	<!-- <meta property="fb:app_id" content="" /> -->
	<meta name="twitter:card" content="Preview" />
	<!-- <meta name="twitter:site" content="" /> -->
	<meta name="twitter:title" content="Quality Safety International New Zeland" />
	<meta name="twitter:description" content="Quality Safety International New Zeland" />
	<meta name="twitter:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/png" href="http://mywooftest.online/images/favicon.png" />
	<link rel="image_src" href="http://mywooftest.online/images/fbprew.jpg"/>
	<title>Quality Safety International</title>

	<link rel="stylesheet" href="../css/default.css"/>
	<link rel="stylesheet" href="../css/style.css"/>
	<link rel="stylesheet" href="../css/products.css"/>
</head>
<body class="products-page">
  {% include 'prodheader.njk' %}
	{% include 'prodcontent.njk' %}
  {% include 'footer.njk' %}
  <!-- GLOBAL JAVASCRI -->
<script src="../../js/main.js"></script>
</body>
</html>
