
      {%- for teams in collections.teams -%}

      <picture class="cs-picture {{ teams.data.block }}">
        {% set urlstring = teams.data.image %}
        {% set urlstringm = teams.data.imagem %}
          <source media="(max-width: 60px)" type="image/avif" srcset={{ urlstringm | replace("/images", "/../images/avif") | replace(".jpeg", ".avif") | replace(".png", ".avif") | safe }} />
          {# <source media="(max-width: 600px)" srcset={{ teams.data.imagem }}> #}
          <source media="(min-width: 60px)" srcset={{ urlstring | replace("/images", "/../images/avif") | replace(".jpeg", ".avif") | replace(".png", ".avif") | safe }} />
          <img loading="lazy" decoding="async" src={{ teams.data.imgagelazy }} alt="formerly dress youpeople outside" width={{ teams.data.imgwidth }} height={{ teams.data.imgheight }} />
      </picture>

      {%- endfor -%}
