
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="About QSi"/>
	<meta name="keywords" content="QSi about , Quality Safety International info, QSi New Zeland more, Quality Safety International New Zeland "/>
	<meta name="author" content="Mitchell Anderson"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Quality Safety International New Zeland" />
	<meta property="og:description" content="QSi - Quality Safety International" />
	<meta property="og:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta property="og:url" content="http://mywooftest.online" />
	<meta property="og:site_name" content="mywooftest" />
	<meta property="article:published_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="article:modified_time" content="2024-06-27T12:52:59+00:00" />
	<meta property="og:updated_time" content="2024-06-27T12:52:59+00:00" />
	<!-- <meta property="fb:app_id" content="" /> -->
	<meta name="twitter:card" content="Preview" />
	<!-- <meta name="twitter:site" content="" /> -->
	<meta name="twitter:title" content="Quality Safety International New Zeland" />
	<meta name="twitter:description" content="Quality Safety International New Zeland" />
	<meta name="twitter:image" content="http://mywooftest.online/images/fbprew.jpg" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<link rel="shortcut icon" type="image/png" href="http://mywooftest.online/images/favicon.png" />
	<link rel="image_src" href="http://mywooftest.online/images/fbprew.jpg"/>
	<title>About Quality Safety International</title>

	<link rel="stylesheet" href="../css/default.css"/>
	<link rel="stylesheet" href="../css/style.css"/>
	<link rel="stylesheet" href="../css/products.css"/>
</head>
<body class="products-page">
  {% include '4about_company_header.njk' %}
	<section style="padding-top:150px;" id="hero-section">
	    <div class="cs-container">
		    <section id="about-us">
		        <div class="cs-container">
		            <div class="cs-content">
		                <h1 class="cs-title">Experience and Accolades</h1>
		                <p class="cs-text">QSi has been designing and manufacturing quality health and safety equipment for more than 40 years, drawing on over 70 years of safety experience. Our many years of manufacturing experience have given us a reputation for innovative product development.</p>
										<p class="cs-text">Our service based approach, broad thinking on product development, and efficient cost structure has seen us continue to grow our market share in New Zealand.</p>
										<p class="cs-text">These attributes were recognised by the New Zealand Ministry of Health when, in 2007, QSi won the government tender to provide 20 million face masks to combat the threat of Bird Flu. The successful fulfilment of this contract required all aspects of QSi’s diverse skill set, from design and sourcing raw materials, manufacture, supply, distribution and stock management.</p>
		            </div>
		            <h2 class="cs-title-gradiant">As a result, QSi won several accolades:</h2>
								<ul>
									<li>ABN Amro Craigs Supreme Business of the Year Award</li>
									<li>Primary Industry Manufacturing and Exporting Excellence Award</li>
									<li>Technical Industry Award</li>
								</ul>
		        </div>

		        <!-- Background Image -->
		        <picture class="cs-background">
		            <source media="(max-width: 600px)" srcset="../images/avif/home-img-3-m.avif" />
		            <source media="(min-width: 601px)" srcset="../images/avif/home-img-3.avif" />
		            <img decoding="async" src="../images/home-img-3.jpeg" alt="mechanic" width="2250" height="1500" aria-hidden="true" />
		        </picture>
		    </section>
</div>
</section>
  {% include '1footer.njk' %}
  <!-- GLOBAL JAVASCRI -->
<script src="../../js/main.js"></script>
</body>
</html>
