
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author">
    <title>Quality Safety International</title>

	<link rel="stylesheet" href="../css/default.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/products.css">
</head>
<body class="products-page">
  {% include 'about_company_header.njk' %}
	<section style="padding-top:150px;" id="hero-section">
	    <div class="cs-container">
		    <section id="about-us">
		        <div class="cs-container">
		            <div class="cs-content">
		                <h1 class="cs-title">OUR MISSION.</h1>
		                <p class="cs-text">
		                    At QSI, we're driven by a singular commitment
		                    to excellence in height safety.
		                    Every day, we tirelessly innovate and deliver
		                    cutting-edge solutions to ensure that those
		                    undertaking the most challenging tasks are
		                    protected at every step of their journey.
		                </p>
		            </div>
		            <h2 class="cs-title-gradiant">AT QSI, YOUR SAFETY ISN'T JUST A PRIORITY, IT'S OUR Relentless PURSUIT.</h2>
		        </div>

		        <!-- Background Image -->
		        <picture class="cs-background">
		            <source media="(max-width: 600px)" srcset="images/avif/home-img-3-m.avif">
		            <source media="(min-width: 601px)" srcset="images/avif/home-img-3.avif">
		            <img decoding="async" src="images/home-img-3.jpeg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
		        </picture>
		    </section>
</div>
</section>
  {% include 'footer.njk' %}
  <!-- GLOBAL JAVASCRI -->
<script src="/js/main.js"></script>
</body>
</html>
