<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-section">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">WELCOME TO QSI.</br> THE PINNACLE IN HEIGHT SAFETY.</h1>
            <p class="cs-text">
                At QSI, we're driven by a singular commitment
                to excellence in height safety.
                Every day, we tirelessly innovate and deliver
                cutting-edge solutions to ensure that those
                undertaking the most challenging tasks are
                protected at every step of their journey.
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="images/avif/home-page-img-1-m.avif"/>
        <source media="(min-width: 601px)" srcset="images/avif/home-page-img-1.avif"/>
        <img decoding="async" src="images/home-page-img-1.png" alt="mechanic" width="2250" height="1500" aria-hidden="true"/>
    </picture>
</section>
<section id="hero-section1">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">GOING ABOVE</br>AND BEYOND.</h1>
            <p class="cs-text">
                At QSI, we're driven by a singular commitment
                to excellence in height safety.
                Every day, we tirelessly innovate and deliver
                cutting-edge solutions to ensure that those
                undertaking the most challenging tasks are
                protected at every step of their journey.
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="images/avif/home-img-2-m.avif"/>
        <source media="(min-width: 601px)" srcset="images/avif/home-img-2.avif"/>
        <img decoding="async" src="images/home-img-2.jpeg" alt="mechanic" width="2250" height="1500" aria-hidden="true"/>
    </picture>
</section>
<div id="about-us">
    <section id="hero-section1">

        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">OUR MISSION.</h1>
                <p class="cs-text">
                    At QSI, we're driven by a singular commitment
                    to excellence in height safety.
                    Every day, we tirelessly innovate and deliver
                    cutting-edge solutions to ensure that those
                    undertaking the most challenging tasks are
                    protected at every step of their journey.
                </p>
            </div>
            <h2 class="cs-title-gradiant">AT QSI, YOUR SAFETY ISN'T JUST A PRIORITY, IT'S OUR Relentless PURSUIT.</h2>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="images/avif/home-img-3-m.avif"/>
            <source media="(min-width: 601px)" srcset="images/avif/home-img-3.avif"/>
            <img decoding="async" src="images/home-img-3.jpeg" alt="mechanic" width="2250" height="1500" aria-hidden="true"/>
        </picture>
    </section>
</div>



<!-- ============================================ -->
<!--                  Products List               -->
<!-- ============================================ -->

<section id="products">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title-2">OUR PRODUCTS.</h2>
            <h2 class="cs-title">OUR PROMISE.</h2>
            <p class="cs-text">
                At QSI, we're driven by a singular commitment
                to excellence in height safety.
                Every day, we tirelessly innovate and deliver
                cutting-edge solutions to ensure that those
                undertaking the most challenging tasks are
                protected at every step of their journey.
            </p>
        </div>
        <div class="cs-product-group">
        {% include 'posts.njk' %}
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title-2">MEET THE QSI TEAM.</h2>
            <h2 class="cs-title">DEDICATION PERSONIFIED.</h2>
            <p class="cs-text">
                At QSI, we're driven by a singular commitment
                to excellence in height safety.
                Every day, we tirelessly innovate and deliver
                cutting-edge solutions to ensure that those
                undertaking the most challenging tasks are
                protected at every step of their journey.
            </p>
        </div>
        <div class="cs-image-group">
          {% include 'base_content_teamsgroup.njk' %}
        </div>
    </div>
</section>




<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact">
    <div class="cs-container">
                <!--Form-->
                <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
                    <h3 class="cs-h3">MADE HERE.<b> Made Right.</b></h3>
                    <p class="cs-text-2"  style="margin: 20px 0">
                        At QSI, we're driven by a singular commitment
                        to excellence in height safety.
                        Every day, we tirelessly innovate and deliver
                        cutting-edge solutions to ensure that those
                        undertaking the most challenging tasks are
                        protected at every step of their journey.
                    </p>
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name"/>
                    </label>
                    <label class="cs-label cs-email">
                        Email
                        <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email"/>
                    </label>
                    <label class="cs-label cs-phone">
                        Phone
                        <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone"/>
                    </label>
                    <label class="cs-label">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
                </form>
        <div class="cs-content">
            <div class="map">
                <iframe title="Company location on Google maps" class="cs-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1600466.5175590736!2d173.59698749199123!3d-38.420417757341674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d400157ac2e90bb%3A0xae16ef0353672116!2sAmtech%20Medical!5e0!3m2!1sen!2snz!4v1718908712324!5m2!1sen!2snz" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="flex-container">
                <div class="left-block">
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <div class="cs-flex-group">
                                <p class="cs-text-2">
                                    <span class="cs-header">Contact</span>
                                    <a href="tel:+64 6 348 9522" class="cs-link">+64 6 348 9522</a>
                                    <a href="mailto:info@qsisafety.com" class="cs-link">info@qsisafety.com</a>
                                    <a href="facebook.com/qsisafety" class="cs-link">facebook.com/qsisafety</a>
                                </p>

                            </div>
                        </li>
                        <li class="cs-li">
                            <div class="cs-flex-group">
                                <span class="cs-header">Head Office</span>
                                <p class="cs-text-2">
                                    Level One/281 Heads Road, Gonville,<br>
                                    Whanganui 4501. New Zealand.
                                    <a href="https://maps.app.goo.gl/YjFJrG1bgKGG8Loa6" target="_blank" class="cs-link">View Google Maps</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-block">
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <div class="cs-flex-group">
                                <span class="cs-header">Newsletter </span>
                                <p class="cs-text-2">
                                    To receive regular updates, <a href="/login" class="cs-link-2">Sign up</a> for the QSI Newsletter.

                                </p>
                            </div>
                        </li>
                        <li class="cs-li">
                            <div class="cs-flex-group">
                                <span class="cs-header">Follow us</span>
                                <p class="cs-text-2">
                                    <a href="#" class="cs-link">Facebook</a>
                                    <a href="#" class="cs-link">Instagram </a>
                                    <a href="#" class="cs-link">Linkedin</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>
