<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer">
    <div class="cs-container">
        <div class="cs-top">
        </div>
        <div class="cs-bottom">
            <a aria-label="go back to home" class="cs-logo" href="index.html">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="images/logo.svg" alt="logo" width="209" height="40">
            </a>


            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="{{ '../../' | url }}" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="../../products" class="cs-link">Products</a>
                </li>
                <li class="cs-li">
                    <a href="../../teams" class="cs-link">Team</a>
                </li>
                <li class="cs-li">
                    <a href="/contact" class="cs-link">Contact</a>
                </li>
            </ul>

            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../images/social/fb.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../images/social/insta.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="../../images/social/linkdin.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
