  {% include 'teamsheader.njk' %}
  <section id="products-slider" class="products-slider">
    <div class="cs-container padding-top-teams100">
      <div class="cs-content">
        <div class="slider">
          <div class="slides">
            {%- for prod in collections.prod | reverse -%}
            <div class="slide">
            <div class="slide-content">
              <h2 class="cs-title">Super team</h2>
              <p class="cs-text">
                  Durable as bags.
              </p>
            </div>
            <div class="product {{ teams.data.block }}">
              {# <a href={{ teams.url }} > #}
                <picture class="cs-picture">
                  {% set urlstring = prod.data.image %}
                    <source media="(max-width: 600px)" type="image/avif" srcset={{ urlstring | replace("images", "/images/avif") | replace(".jpeg", ".avif") | replace(".png", ".avif") | safe }} />
                    {# <source media="(max-width: 600px)" srcset={{ prod.data.imagem }}> #}
                    <source media="(min-width: 601px)" srcset={{ prod.data.image }}>
                    <img loading="lazy" decoding="async" src={{ prod.data.imgagelazy }} alt="formerly dress you people outside" width={{ prod.data.imgwidth }} height={{ prod.data.imgheight }}>
                </picture>
                <h5 class="product-title">{{ prod.data.title }}</h5>
                {# </a> #}
            </div>
            </div>

        <!-- Dots for navigation -->
        {%- endfor -%}

<button class="prev" onclick="moveSlide(-1, 'products-slider')">&#10094;</button>
<button class="next" onclick="moveSlide(+1, 'products-slider')">&#10095;</button>

<div class="dots">
<span class="dot" onclick="currentSlide(0, 'products-slider')"></span>
<span class="dot" onclick="currentSlide(1, 'products-slider')"></span>
<span class="dot" onclick="currentSlide(2, 'products-slider')"></span>
<span class="dot" onclick="currentSlide(3, 'products-slider')"></span>
<span class="dot" onclick="currentSlide(4, 'products-slider')"></span>
<span class="dot" onclick="currentSlide(5, 'products-slider')"></span>

</div>
</div>
</div>
</div>
</div>
</section>
