<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="QSi - Quality Safety International"/>
    <meta name="keywords" content="QS, Quality Safety International, QSi Team, Quality Safety International New Zeland"/>
    <meta name="author" content="Amtech"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Quality Safety International Team" />
    <meta property="og:description" content="QSi - Quality Safety International" />
    <meta property="og:image" content="http://qsisafety.com/images/fbprew.jpg" />
    <meta property="og:url" content="http://qsisafety.com" />
    <meta property="og:site_name" content="mywooftest" />
    <meta property="article:published_time" content="2024-06-27T12:52:59+00:00" />
    <meta property="article:modified_time" content="2024-06-27T12:52:59+00:00" />
    <meta property="og:updated_time" content="2024-06-27T12:52:59+00:00" />
    <!-- <meta property="fb:app_id" content="" /> -->
    <meta name="twitter:card" content="Preview" />
    <!-- <meta name="twitter:site" content="" /> -->
    <meta name="twitter:title" content="Quality Safety International Team" />
    <meta name="twitter:description" content="Quality Safety International Team" />
    <meta name="twitter:image" content="http://qsisafety.com/images/fbprew.jpg" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png" />
    <link rel="image_src" href="../../images/fbprew.jpg" />
    <title>Quality Safety International Team</title>

    <link rel="stylesheet" href="../css/default.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/products.css"/>
  </head>
  <body class="products-page">

    {% include 'teamsheader.njk' %}
    <section id="gallery">
        <div class="cs-container padding-top-teams100">

        {#<div class="cs-content">
          <div class="slider products-slider">



              {%- for teams in collections.teams | reverse -%}
              <div class="slides">
              <div class="slide">
              <div class="slide-content">
                <h2 class="cs-title">  </h2>
                <p class="cs-text">

                </p>
              </div>
              <div class="product {{ teams.data.block }}">

                  <picture class="cs-picture">
                    {% set urlstring = teams.data.image %}
                    {% set urlstringm = teams.data.imagem %}
                    <source media="(max-width: 600px)" type="image/avif" srcset={{ urlstringm | replace("/images", "images/avif") | replace(".jpeg", ".avif") | replace(".png", ".avif") | safe }} />
                    <source media="(max-width: 600px)" srcset={{ teams.data.imagem }}>
                    <source media="(min-width: 601px)" srcset={{ urlstring | replace("/images", "/../images/avif") | replace(".jpeg", ".avif") | replace(".png", ".avif") | safe }}>
                      <img loading="lazy" decoding="async" src={{ teams.data.imgagelazy }} alt="formerly dress you people outside" width={{ teams.data.imgwidth }} height={{ teams.data.imgheight }}>
                  </picture>
                  <h5 class="product-title">{{ teams.data.title }}</h5>

              </div>
              </div>
              </div>

          {%- endfor -%}


          <button class="prev" onclick="moveSlide(-1, 'products-slider')">&#10094;</button>
          <button class="next" onclick="moveSlide(+1, 'products-slider')">&#10095;</button>
  <div class="dots">
  <span class="dot" onclick="currentSlide(0, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(1, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(2, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(3, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(4, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(5, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(6, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(7, 'products-slider')"></span>
  <span class="dot" onclick="currentSlide(8, 'products-slider')"></span>
  </div>

  </div>
  </div> #}

  <div class="cs-image-group">
    {% include 'base_content_teamsgroup.njk' %}
  </div>
  </div>
  </section>

    {% include 'footer.njk' %}


    <script src="../../js/main.js"></script>
  </body>
</html>
