.products-page .header-space{
    height: 100px;
}

@media only screen and (min-width: 0rem) {
    .products-page #products .product img {
        border-radius: 6px;
    }
}

#products-slider .slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#products-slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

#products-slider .slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}



/* Arrows */
#products-slider .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: transparent;
    box-shadow: none;
    border: 0;
}

#products-slider .next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

#products-slider .prev {
    left: 10px;
    border-radius: 3px 3px 0 0;
}

/* Dots */
#products-slider .dots {
    text-align: center;
    margin: 0 auto;
    margin-top: -40px;
    z-index: 999;
}

#products-slider .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--ColorWhite);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#products-slider .dot.active, .dot:hover {
    background-color: var(--primary);
}



#products-slider .slide-content {
    position: absolute;
    left: 35px;
    top: 35px;
}

#products-slider .cs-title {
    font-size: 44px;
    color: #3a3a3a;
}  
#products-slider .cs-text {
    font-size: 20px;
    color: #3a3a3a;
} 

#products-slider:last-of-type {
    margin-bottom: 5rem;
}
/*-- -------------------------- -->
<---          products          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {

    #products-slider {
        padding: clamp(1.75rem, 7.82vw, 2.25rem) 1rem;
    }
    #products-slider .cs-container {
        width: 100%;
        max-width: 80rem;
        padding: 0 .3rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #products-slider .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #products-slider .cs-title {
        font-size: 22px;
        color: #3a3a3a;
    } 
    #products-slider .cs-text {
        font-size: 12px;
        color: #3a3a3a;
        max-width: 20rem;
    }
    #products-slider .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

  }
  /* Tablet */
  @media only screen and (min-width: 48rem) {
    #products-slider .slide img {
        height: 700px;
    }
    #products-slider .cs-title {
        font-size: 44px;
    } 
    #products-slider .cs-text {
        font-size: 20px;
        max-width: 35rem;
    }

  }